@model ViewModels.EmployeeInputModel


        <form method="post">
            <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />

            <label>Full Name:</label>
            <input asp-for="FullName" class="form-control" value="@Model.FullName" /><br />
            <span asp-validation-for="FullName"></span>
            
            <label>Email:</label>
            <input asp-for="Email" class="form-control" value="@Model.Email"/><br />
            <span asp-validation-for="Email"></span>
            
            <label>Phone:</label>
            <input asp-for="Phone" class="form-control" value="@Model.Phone"/><br />
            <span asp-validation-for="Phone"></span>
            
            <label>Birth Date: </label>
            <input value="@Model.DateOfBirth.ToString("dd/MM/yyyy")" readonly class="form-control" /> 
            <span asp-validation-for="DateOfBirth"></span>
            
            <label>Salary:</label>
            <input asp-for="Salary" class="form-control" value="@Model.Salary"/><br />
            <span asp-validation-for="Salary"></span>

            

            <input type="submit" class="btn btn-success" value="Edit Employee" />

        </form>